.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.card-container {
  display: flex;
  gap: 10px;
}

.total-points {
  margin-top: 20px;
  font-size: 2em;
}

@media (max-width: 768px) {
  .card-game {
    margin-top: 10vh;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh 0;
  }

  .total-points {
    font-size: 1.2em;
    margin-bottom: 10vh;
  }
}
