.card {
  width: 150px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5em;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card span {
  color: #888;
}

.remove-card {
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Ajuste conforme necessário */
  color: rgb(255, 255, 255); /* Cor do "x" */
}

@media (max-width: 768px) {
  .card {
    width: 100px;
    height: 150px;
  }
}
